<div class="chat-message" data-id="{{ id }}">
    <div class="chat-avatar">
        <img src="{{ aiLogoUrl }}"  alt="User Avatar">
    </div>
    <div class="chat-content">
        <div class="chat-user-name">{{ aiName }}</div>
        <div id="loader"><span aria-busy="true">Generating response...</span></div>
        <div id="stream-content"></div>
    </div>
</div>
