<div class="chat-message" data-id="{{ id }}">
    <div class="chat-avatar">
        <img src="{{ user.imageUrl }}"  alt="User Avatar">
    </div>
    <div class="chat-content">
        <div class="chat-user-name"><b>{{ user.name }}</b></div>
        <div>
            {{{renderedHtml}}}
        </div>
    </div>
</div>
